/* https://coolors.co/ffffff-00171f-003459-007ea7-00a8e8 */

/*police RIGHTEOUS*/
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
    margin: 0;
    padding: 0;
}
*::selection {
    background-color: #00a8e8;
}

body {
    background-color: #00171f;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}

/**HOME PAGE -- HOME PAGE -- HOME PAGE*/
#homeBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/**HOME PAGE HEADER*/
#homeBody header {
    height: 39vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Righteous", cursive;
    color: #ffffff;
}
#homeTitle {
    font-size: 4em;
    letter-spacing: 17px;
}
.currency {
    font-size: 20px;
    letter-spacing: 2px;
}

/**HOME PAGE MAIN*/
#homeBody main {
    height: 54vh;
    width: 100%;
}
.searchBar {
    width: 800px;
    height: 64px;
    border-radius: 32px;
    border: solid 3px #ffffff;

    font-size: 25px;
    padding-left: 32px;

    background-color: #003459;
    color: #ffffff;
}
.searchBar::placeholder {
    color: #f2e9e4;
}
.searchBar:focus {
    outline: none !important;
}

/**HOME PAGE FOOTER*/
#homeBody footer {
    height: 7vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #00a8e8;
    color: #00171f;
    font-size: 24px;
    font-weight: 600;
}
#homeBody footer p {
    cursor: help;
}

@media screen and (max-width: 1000px) {
    .searchBar {
        width: 90vw;
    }
}

@media screen and (max-width: 666px) {
    .searchBar {
        width: 80vw;
    }
    #homeTitle {
        font-size: 3em;
        letter-spacing: 14px;
    }
    .currency {
        font-size: 15px;
    }
}
@media screen and (max-width: 500px) {

    #homeTitle {
        font-size: 2.5em;
        letter-spacing: 11px;
    }
    .currency {
        font-size: 12px;
    }
}
@media screen and (max-width: 400px) {

    #homeTitle {
        font-size: 2em;
        letter-spacing: 7px;
    }
    .currency {
        width: 80%;
    }
}