#resultsBody {
    padding: 5px 40px;
}

/**HEADER -- HEADER*/
#resultsBody header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0;
}
.resultTitle {
    letter-spacing: 5px;
    font-size: 1.8em;
}
#resultsBody header form input {
    width: 500px;
    height: 41px;
    font-size: 1.2em;
}

/**NAVBAR -- NAVBAR*/
.navbar {
    width: 40%;
    height: 5vh;
    border-radius: 8px;
    margin-bottom: 25px;
    background-color: #003459;

    display: flex;
    align-items: center;

    font-size: 28px;
    font-weight: bold;
    text-align: center;
}
.navbar p {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
}
.navbar p:nth-child(1) {
    border-radius: 8px 32px 0 8px;
}
.navbar p:nth-child(2) {
    border-radius: 0 32px 0 0;
}
.activeNavbar {
    background-color: #00a8e8;
    color: #00171f;
}

/**card container*/
.cardTitleContenair,
.cardArtistsContenair {
    display: none;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.activeContenair {
    display: flex;
}

/**CARDS -- CARDS*/
.cardTitle,
.cardArtists {
    width: 330px;
    border-radius: 8px;
    background-color: #003459;
    margin: 0 25px 0 0;
    padding-bottom: 20px;
    cursor:default;
    transition-duration: 150ms;
}

/**image*/
.backgroundCard {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

/**text*/
.cardTitle h2,
.cardArtists h2 {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-left: 13px;
    margin-bottom: 5px;
    margin-top: 10px;
}
.cardTitle h3 {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 3px;
    margin-left: 13px;
}

/**links*/
.linksCard {
    margin-left: 13px;
    margin-top: 45px;
}
.linksCard p {
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: 3px;
}
.linksCard__icon img {
    width: 50px;
    margin-right: 20px;
}



/**LOADER*/
#loader{
    visibility: visible;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 120px;
}



/**FOOTER*/
#resultsBody footer{
    position: absolute;
    top: 50%;
    left: 99%;
    transform: translate(-50%, -50%);


    writing-mode: vertical-rl;
    text-orientation:upright;
    font-weight: 900;
    color: #00a8e8;
    text-transform: uppercase;
}