#resultsBody {
    padding: 5px 40px;
}

#resultsBody header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0;
}
.resultTitle {
    letter-spacing: 5px;
    font-size: 2em;
}
#resultsBody header form input {
    width: 500px;
    height: 41px;
    font-size: 20px;
}

/**NAVBAR -- NAVBAR*/
.navbar {
    width: 40%;
    height: 5vh;
    border-radius: 8px;

    display: flex;
    align-items: center;

    background-color: #4a4e69;

    font-size: 28px;
    font-weight: bold;
    text-align: center;

    margin-bottom: 25px;
}
.navbar p {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    cursor: pointer;
}
.navbar p:nth-child(1) {
    border-radius: 8px 32px 0 8px;
}
.navbar p:nth-child(2) {
    border-radius: 0 32px 0 0;
}
.activeNavbar {
    background-color: #d9d9d9;
    color: #22223b;
}

/**TITLE / ARTISTS*/
/**CARDS -- CARDS*/
.cardTitleContenair,
.cardArtistsContenair {
    display: none;
}
.activeContenair {
    display: flex;
    flex-wrap: wrap;
}

.cardTitle {
    width: 330px;
    border-radius: 8px;
    background-color: #4a4e69;
    margin: 27.5px 55px 27.5px 0;
    padding-bottom: 20px;
}
/**image*/
.backgroundCard {
    width: 100%;
    border-radius: 8px 8px 0 0;
}
/**text*/
.cardTitle h2 {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-left: 13px;
    margin-bottom: 5px;
    margin-top: 10px;
}
.cardTitle h3 {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 3px;
    margin-left: 13px;
}

/**links*/
.linksCard {
    margin-left: 13px;
    margin-top: 45px;
}
.linksCard p {
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: 3px;
}
.linksCard__icon img {
    width: 50px;
    margin-right: 20px;
}
